.label{
    margin: 1rem;
    color: #562a0e;
}

.button-subs{
    box-sizing: content-box;
    color: #ffffff;
    background-color: #ff0000;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    font-weight: 900;
    border-color: #0F4C5C;
}

.button-adition{
    box-sizing: content-box;
    color: #ffffff;
    background-color: #98DA00;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    font-weight: 900;
    border-color: #0F4C5C;
}

.button-add{
    border-color: #ffad03;
    width: 100%;
    border-radius: 10px;
    height: 2rem;
    color: #ffffff;
    font-size: 20px;
    box-sizing: content-box;
    background-color:#ffad03;
    font-weight:700;
}
