.navbar-contenedor{
background-color: #7f5539 !important;

}

.nav-link{
    color: #ffffff!important;
  }

  .cart-edit{
    color: #ffffff;
    
  }

  .navbar-toggler-icon{
    background-color: #ffffff !important;
  }

  .navbar-toggler{
    background-color: #ffffff !important;
    color:#ffffff !important;
    border: #ffffff !important;

  }

  .texto{
    font-size: 20px;
  }

  .btn-color{
    color: #ffffff !important;
    font-weight: 500 !important;
  }

